@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    background: #070606;
    overflow-x: hidden;
    color: #fff;
    max-width: 900px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #fff;
}
nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    opacity: 1;
    background: #000;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid white;
    .logo {
        color: red;
        font-style: italic;
        font-weight: 700;
        font-size: 18px;
        padding: 1rem 0;
    }
    .toggler {
        position: fixed;
        top: 4.5vh;
        right: 10%;
        transform: translate(-50%, -50%);
        color: #fff;
        display: none;
    }
    .nav-links {
        font-style: normal;
        text-transform: uppercase;
        font-size: 14px;

        a {
            opacity: 0.7;
            margin: 0.5rem;
            &:hover {
                opacity: 1;
            }
        }
    }

    @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        .nav-links {
            display: flex;
            text-align: center;
            flex-direction: column;
            display: none;
        }
        .active {
            display: flex;
        }
        .toggler {
            display: block;
            cursor: pointer;
        }
    }
}
.header {
    position: relative;
    height: 100vh;

    padding-top: 10vh;
    padding-bottom: 100vh;
    border-bottom: 1px solid #fff;
    .heading {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: calc(27px + 2vh);
        padding: 2rem 0;
        pointer-events: none;
        cursor: pointer;
    }
    .subtitle {
        color: #fff;
        font-style: normal;
        max-width: 450px;
        position: absolute;
        left: 50%;
        font-size: calc(14px + 2vh);
        font-weight: 300;
        i {
            color: red;
            font-size: 1.9rem;
            padding: 0 0.5rem;
        }
    }
    .responsive {
        width: 100%;
        position: absolute;
        z-index: -1;
        max-width: 700px;
        min-width: 300px;
        height: auto;
        filter: brightness(50%);
    }
    @media screen and (max-width: 600px) {
        .subtitle {
            left: 10%;
        }
        .responsive {
            top: 30%;
            padding-top: 25vh;
        }
    }
    @media screen and (max-width: 900px) {
        margin-left: 0;
        margin: 0 5vh;
    }
}

.section-2 {
    position: relative;
    padding: 10vh 0;
    border-bottom: 1px solid #fff;
    .wrapper {
        margin-left: 50%;

        .title {
            text-transform: uppercase;
            font-size: calc(27px + 2vh);
            margin-bottom: 3rem;
        }
        .subtitle {
            font-style: normal;
            font-size: calc(12px + 2vh);
            margin-bottom: 1.5rem;
        }
        p {
            font-style: normal;
            opacity: 0.7;
        }
        .cta {
            display: inline-block;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 700;
            margin: 1rem 0;
            padding: 14px 25px;
            font-size: 14px;
            border: 1px solid #fff;
        }
        @media screen and (max-width: 900px) {
            margin-left: 0;
        }
    }
    @media screen and (max-width: 900px) {
        margin: 0 5vh;
    }
}
.section-3 {
    padding: 10vh 0;
    border-bottom: 1px solid #fff;

    .title {
        text-align: center;
        text-transform: uppercase;
        font-size: calc(27px + 2vh);
        margin-bottom: 3rem;
    }
    .engine {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
            width: 100%;
            max-width: 490px;
            height: auto;
            margin-right: 10px;
        }
        .text {
            width: 100%;
            max-width: 350px;
            @media screen and (max-width: 867px) {
                margin-top: 1rem;
            }
            .subtitle {
                font-style: normal;
                font-size: calc(12px + 2vh);
                margin-bottom: 1.5rem;
            }
            p {
                font-style: normal;
                opacity: 0.7;
            }
            .cta {
                display: inline-block;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 700;
                margin: 1rem 0;
                padding: 14px 25px;
                font-size: 14px;
                border: 1px solid #fff;
            }
        }
    }
    @media screen and (max-width: 900px) {
        margin-left: 0;
        margin: 0 5vh;
    }
}

.section-4 {
    padding: 10vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0;
    border-bottom: 1px solid #fff;
    .left {
        color: #fff;
        max-width: 300px;
        justify-content: space-between;
        margin-top: 25vh;
        .subtitle {
            font-style: normal;
            font-size: calc(12px + 2vh);
            margin-bottom: 1.5rem;
        }

        .cta {
            display: inline-block;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 700;
            margin: 1rem 0;
            padding: 14px 25px;
            font-size: 14px;
            border: 1px solid #fff;
        }
    }
    .right {
        max-width: 500px;
        .title {
            text-transform: uppercase;
            font-size: calc(27px + 2vh);
            margin-bottom: 3rem;
        }
        .responsive {
            width: 100%;
            max-width: 500px;
            min-width: 300px;
            height: auto;
        }
        p {
            font-style: normal;
            opacity: 0.7;
            margin-bottom: 3vh;
        }
    }
    @media screen and (max-width: 900px) {
        margin-left: 0;
        margin: 0 5vh;
    }
}

.section-5 {
    padding: 10vh 0;
    display: flex;

    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid #fff;

    .article {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 2rem 0;

        &:first-child {
            margin-bottom: 0;
        }
        .date {
            font-style: normal;
            opacity: 0.7;
        }
        .responsive {
            width: 100%;
            max-width: 300px;
            height: auto;
            margin-bottom: 2vh;
        }
        .text {
            padding: 2vh 0;
        }
        .article-title {
            font-style: normal;
            max-width: 400px;
            opacity: 0.7;
        }
        &:hover {
            .date,
            .article-title {
                opacity: 1;
                transition: all 0.5s;
            }
            .text {
                border-top: 1px solid red;
                border-bottom: 1px solid red;
            }
        }
    }
    @media screen and (max-width: 900px) {
        margin-left: 0;
        margin: 0 5vh;
    }
}

.links {
    padding: 10vh 0;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .left {
        .title {
            text-transform: uppercase;
            margin-bottom: 15vh;
        }
        .social-links {
            display: flex;

            a {
                margin-right: 10px;
                opacity: 0.7;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .middle {
        display: flex;
        flex-direction: column;

        text-transform: uppercase;
        font-style: normal;

        margin-bottom: 5vh;
        a {
            margin-bottom: 10px;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }
    .right {
        max-width: 400px;
        .subtitle {
            font-style: normal;
            font-size: calc(12px + 2vh);
            margin-bottom: 1.5rem;
        }
        .text {
            font-style: normal;
            opacity: 0.7;
            margin-bottom: 7vh;
        }
        .form-grp {
            max-width: 400px;
            border-bottom: 1px solid #fff;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2vh;
            input[type="email"] {
                background: transparent;
                border: none;
                color: #fff;
                outline: none;
                &::placeholder {
                    text-transform: uppercase;
                }
            }
            button {
                border: none;
                background: transparent;
                color: #fff;
                font-weight: 600;
                font-size: 1.05rem;
                text-transform: uppercase;
            }
        }
        .checkbox {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            #checkb {
                width: 20px;
                height: 20px;
                outline: none;

                cursor: pointer;
                background: rgba(40, 40, 40, 0.2);
                color: black;

                appearance: none;
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 4px;
                position: relative;
            }

            #checkb:checked {
                background: rgba(40, 40, 40, 0.7);
            }

            .checkbox {
                position: absolute;
                display: inline-block;
                margin: 20px;
                width: 100px;
                height: 100px;
                overflow: hidden;
            }
            p {
                max-width: 340px;
                font-style: normal;
                opacity: 0.7;
            }
        }
    }
    @media screen and (max-width: 900px) {
        margin-left: 0;
        margin: 0 5vh;
    }
}

.credit {
    opacity: 0.7;
    padding: 5vh 0;

    font-style: normal;
}
