@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  background: #070606;
  overflow-x: hidden;
  color: #fff;
  max-width: 900px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.design {
  position: fixed;
  top: 0;
  left: 0;
  font-style: normal;
  text-align: center;
  z-index: 1000000;
  width: 100%;
  text-transform: uppercase;
  background: #080808;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.design .link {
  opacity: 0.7;
}

.design .link a {
  font-weight: 600;
  color: #ec1c0d;
  text-decoration: underline;
}

nav {
  position: fixed;
  width: 100%;
  top: 5vh;
  left: 0;
  z-index: 10000;
  opacity: 1;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid white;
}

nav .logo {
  color: red;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  padding: 1rem 0;
}

nav .toggler {
  position: fixed;
  top: 9.3vh;
  right: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  display: none;
}

nav .nav-links {
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
}

nav .nav-links a {
  opacity: 0.7;
  margin: 0.5rem;
}

nav .nav-links a:hover {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  nav .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .toggler {
    display: block;
    cursor: pointer;
  }
}

.header {
  position: relative;
  height: 100vh;
  padding-top: 10vh;
  padding-bottom: 100vh;
  border-bottom: 1px solid #fff;
}

.header .heading {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: calc(27px + 2vh);
  padding: 2rem 0;
  pointer-events: none;
  cursor: pointer;
}

.header .subtitle {
  color: #fff;
  font-style: normal;
  max-width: 450px;
  position: absolute;
  left: 50%;
  font-size: calc(14px + 2vh);
  font-weight: 300;
}

.header .subtitle i {
  color: red;
  font-size: 1.9rem;
  padding: 0 0.5rem;
}

.header .responsive {
  width: 100%;
  position: absolute;
  z-index: -1;
  max-width: 700px;
  min-width: 300px;
  height: auto;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

@media screen and (max-width: 600px) {
  .header .subtitle {
    left: 10%;
  }
  .header .responsive {
    top: 30%;
    padding-top: 25vh;
  }
}

@media screen and (max-width: 900px) {
  .header {
    margin-left: 0;
    margin: 0 5vh;
  }
}

.section-2 {
  position: relative;
  padding: 10vh 0;
  border-bottom: 1px solid #fff;
}

.section-2 .wrapper {
  margin-left: 50%;
}

.section-2 .wrapper .title {
  text-transform: uppercase;
  font-size: calc(27px + 2vh);
  margin-bottom: 3rem;
}

.section-2 .wrapper .subtitle {
  font-style: normal;
  font-size: calc(12px + 2vh);
  margin-bottom: 1.5rem;
}

.section-2 .wrapper p {
  font-style: normal;
  opacity: 0.7;
}

.section-2 .wrapper .cta {
  display: inline-block;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  margin: 1rem 0;
  padding: 14px 25px;
  font-size: 14px;
  border: 1px solid #fff;
}

@media screen and (max-width: 900px) {
  .section-2 .wrapper {
    margin-left: 0;
  }
}

@media screen and (max-width: 900px) {
  .section-2 {
    margin: 0 5vh;
  }
}

.section-3 {
  padding: 10vh 0;
  border-bottom: 1px solid #fff;
}

.section-3 .title {
  text-align: center;
  text-transform: uppercase;
  font-size: calc(27px + 2vh);
  margin-bottom: 3rem;
}

.section-3 .engine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-3 .engine img {
  width: 100%;
  max-width: 490px;
  height: auto;
  margin-right: 10px;
}

.section-3 .engine .text {
  width: 100%;
  max-width: 350px;
}

@media screen and (max-width: 867px) {
  .section-3 .engine .text {
    margin-top: 1rem;
  }
}

.section-3 .engine .text .subtitle {
  font-style: normal;
  font-size: calc(12px + 2vh);
  margin-bottom: 1.5rem;
}

.section-3 .engine .text p {
  font-style: normal;
  opacity: 0.7;
}

.section-3 .engine .text .cta {
  display: inline-block;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  margin: 1rem 0;
  padding: 14px 25px;
  font-size: 14px;
  border: 1px solid #fff;
}

@media screen and (max-width: 900px) {
  .section-3 {
    margin-left: 0;
    margin: 0 5vh;
  }
}

.section-4 {
  padding: 10vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
}

.section-4 .left {
  color: #fff;
  max-width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25vh;
}

.section-4 .left .subtitle {
  font-style: normal;
  font-size: calc(12px + 2vh);
  margin-bottom: 1.5rem;
}

.section-4 .left .cta {
  display: inline-block;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  margin: 1rem 0;
  padding: 14px 25px;
  font-size: 14px;
  border: 1px solid #fff;
}

.section-4 .right {
  max-width: 500px;
}

.section-4 .right .title {
  text-transform: uppercase;
  font-size: calc(27px + 2vh);
  margin-bottom: 3rem;
}

.section-4 .right .responsive {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  height: auto;
}

.section-4 .right p {
  font-style: normal;
  opacity: 0.7;
  margin-bottom: 3vh;
}

@media screen and (max-width: 900px) {
  .section-4 {
    margin-left: 0;
    margin: 0 5vh;
  }
  .section-4 .left {
    margin-top: 0;
    margin-bottom: 5vh;
  }
}

.section-5 {
  padding: 10vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #fff;
}

.section-5 .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
}

.section-5 .article:first-child {
  margin-bottom: 0;
}

.section-5 .article .date {
  font-style: normal;
  opacity: 0.7;
}

.section-5 .article .responsive {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 2vh;
}

.section-5 .article .text {
  padding: 2vh 0;
}

.section-5 .article .article-title {
  font-style: normal;
  max-width: 400px;
  opacity: 0.7;
}

.section-5 .article:hover .date,
.section-5 .article:hover .article-title {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section-5 .article:hover .text {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

@media screen and (max-width: 900px) {
  .section-5 {
    margin-left: 0;
    margin: 0 5vh;
  }
}

.links {
  padding: 10vh 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links .left {
  margin-bottom: 30px;
}

.links .left .title {
  text-transform: uppercase;
  margin-bottom: 15vh;
}

.links .left .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links .left .social-links a {
  margin-right: 10px;
  opacity: 0.7;
}

.links .left .social-links a:hover {
  opacity: 1;
}

.links .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 5vh;
}

.links .middle a {
  margin-bottom: 10px;
  opacity: 0.7;
}

.links .middle a:hover {
  opacity: 1;
}

.links .right {
  max-width: 400px;
}

.links .right .subtitle {
  font-style: normal;
  font-size: calc(12px + 2vh);
  margin-bottom: 1.5rem;
}

.links .right .text {
  font-style: normal;
  opacity: 0.7;
  margin-bottom: 7vh;
}

.links .right .form-grp {
  max-width: 400px;
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2vh;
}

.links .right .form-grp input[type="email"] {
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
}

.links .right .form-grp input[type="email"]::-webkit-input-placeholder {
  text-transform: uppercase;
}

.links .right .form-grp input[type="email"]:-ms-input-placeholder {
  text-transform: uppercase;
}

.links .right .form-grp input[type="email"]::-ms-input-placeholder {
  text-transform: uppercase;
}

.links .right .form-grp input[type="email"]::placeholder {
  text-transform: uppercase;
}

.links .right .form-grp button {
  border: none;
  background: transparent;
  color: #fff;
  font-weight: 600;
  font-size: 1.05rem;
  text-transform: uppercase;
}

.links .right .declaration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.links .right .declaration .form {
  margin-top: 4px;
}

.links .right .declaration .form input#check {
  position: absolute;
  opacity: 0;
}

.links .right .declaration .form input#check:checked + label svg path {
  stroke-dashoffset: 0;
}

.links .right .declaration .form input#check:focus + label {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.links .right .declaration .form #check + label {
  display: block;
  border: 1px solid #333;
  width: var(--d);
  height: var(--d);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.links .right .declaration .form #check + label:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.links .right .declaration .form #check + label svg {
  pointer-events: none;
}

.links .right .declaration .form #check + label svg path {
  fill: none;
  stroke: #333;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  -webkit-transition: all 350ms cubic-bezier(1, 0, 0.37, 0.91);
  transition: all 350ms cubic-bezier(1, 0, 0.37, 0.91);
}

.links .right .declaration .text {
  max-width: 350px;
  font-style: normal;
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .links {
    margin-left: 0;
    margin: 0 5vh;
  }
}

.credit {
  opacity: 0.7;
  padding: 5vh 0;
  font-size: 0.9rem;
  font-style: normal;
}

@media screen and (max-width: 900px) {
  .credit {
    margin: 0 5vh;
  }
}
/*# sourceMappingURL=app.css.map */